.link {
	border-radius: var(--wp--custom--border-radius);
	background-color: var(--wp--preset--color--black);
	color: var(--wp--preset--color--white);
	padding: rem-calc(15 30);
	font-weight: 500;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: 1;

	&--with-arrow svg {
		margin-left: rem-calc(10);
		width: rem-calc(25);
		height: rem-calc(25);
		fill: var(--wp--preset--color--white);
	}
}
