.container {
	width: min(100%, rem-calc(1280px));
	margin-inline: auto;
	padding-inline: rem-calc(16px);

	&--small {
		width: min(100%, rem-calc(900px));
	}

	&--full {
		width: 100%;
	}
}
